@import "../../scss/_color.scss";

.list-card-container {
  position: relative;
  .list-card {
    display: flex;
    flex-direction: column;
    border-radius: 0.2rem;
    font-weight: bold;
    background: $card-bg-color;
    background: $card-gradient;
    padding: 0.8rem;
    line-height: 1.6rem;
    font-size: 1.1rem;
    font-weight: 200;
    margin-bottom: 1.2rem;

    .song-title {
      display: flex;
      align-items: center;
      width: 100%;

      .song-name {
        font-size: 1.3rem;
        font-weight: 800;
      }
      .remove-icon {
        color: rgb(250, 98, 78);
        margin-left: auto;
        font-size: 1.3rem;
        margin-top: -24px;
        margin-right: -6px;
      }
      .song-control {
        margin-left: auto;
      }
    }

    .song-details {
      display: flex;
      color: $text-light;

      .song-tala {
        margin-left: auto;
      }
    }
  }
  .edit-option {
    background: linear-gradient(
      270deg,
      rgb(129, 2, 80) 0%,
      rgb(201, 33, 136) 42%,
      rgb(196, 33, 128) 71%
    );
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 100%;
    font-size: 1.2rem;

    .edit-icon {
      pointer-events: none;
    }
  }

  // .edit-option {
  //   background: linear-gradient(
  //     270deg,
  //     rgb(20, 84, 114) 0%,
  //     rgb(20, 58, 83) 20%,
  //     rgba(34, 13, 41, 1) 61%,
  //     rgb(51, 11, 33) 97%
  //   );
  //   position: absolute;
  //   right: 0;
  // }
}
