@import "../../scss/_color.scss";

.add-edit-form {
  .text-input {
    width: 100%;
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;

    input {
      width: 100%;
      height: 2rem;
      color: $border-color;
      background: hsl(323, 100%, 87%);
      font-weight: 800;
      font-size: 1rem;
      outline: none;
      padding: 0.3rem;
      margin: 1.1rem 0;
      margin-top: 0;
      border: 2px solid $border-color;
      border-radius: 0.5rem;
    }
  }

  .btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    color: $white;
    background: $card-bg-color;
    font-weight: 800;
    font-size: 1.2rem;
    border: none;
  }
}
