.alert-toast-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100%;

  .alert-toast {
    padding: 0.8rem;
    margin: 1rem;
    background: #ffffff;
    color: rgb(95, 1, 53);
    font-weight: bold;
    font-size: 1rem;
    border-left: 0.5rem solid green;
    display: flex;
    align-items: center;
    box-shadow: -1px 7px 15px rgb(202, 178, 178);

    .icon {
      margin-left: auto;
    }
  }
}
