.alert-toast-container {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1001;
  width: 100%;

  .alert-toast {
    padding: 0.8rem;
    margin: 1rem;
    background: #630b37;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    border-left: 0.2rem solid rgb(95, 1, 53);
    display: flex;
    align-items: center;

    .icon {
      margin-left: auto;
    }
  }
}
