@import "../../scss/_color.scss";

.filter-bar {
  padding: 0.5rem 0;

  display: flex;
  flex-wrap: wrap;

  .filter-chip {
    background: $border-color;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.4rem;
    border-radius: 1rem;
    font-size: 0.8rem;
    font-weight: bold;
    opacity: 0.5;
  }

  .active {
    opacity: 1;
  }
}
