$black: #1a1a1a;
$white: #f5f5f5;
$text-light: #d3d3d3;
$card-bg-color: rgb(45, 45, 45);
$card-gradient: linear-gradient(
  90deg,
  rgba(150, 50, 100, 1) 0%,
  rgba(45, 20, 60, 1) 92%
);
$border-color: rgb(120, 10, 70);
