$black: #000000;
$white: #ffffff;
$text-light: #c0b8b8;
$card-bg-color: rgb(34, 4, 22);
$card-gradient: linear-gradient(
  90deg,
  rgba(129, 37, 90, 1) 0%,
  rgba(34, 13, 41, 1) 92%
);
$border-color: rgb(95, 1, 53);
